language: php

php:
  - 5.4
  - 5.5
  - 5.6

before_install:
  - composer self-update
  - composer install

script:
- ./vendor/bin/phpunit --configuration phpunit.xml.dist --testsuite unit
- ./vendor/bin/phpunit --configuration phpunit.xml.dist --testsuite integration
